<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mermaid.application.user.dao.extension.SessionInfoDomainExtensionMapper" >
  <!-- 扩展自定义的SQl语句写在此文件中 -->
  <resultMap id="UserInfoMap" type="com.mermaid.application.user.model.UserInfoDomain" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="CHAR" />
    <result column="age" property="age" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="CHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="avatarId" property="avatarId" jdbcType="INTEGER" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="appId" property="appId" jdbcType="CHAR" />
  </resultMap>
  <delete id="deleteBySessionId">
    DELETE FROM sessionInfo WHERE sessionId = #{sessionId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByUserId">
    DELETE FROM sessionInfo WHERE userId = #{userId}
  </delete>
  <select id="selectBySessionId" resultType="com.mermaid.application.user.model.SessionInfoDomain">
    SELECT id, sessionId, expire, createTime,updateTime FROM sessionInfo WHERE sessionId = #{sessionId,jdbcType=VARCHAR}
  </select>
  <select id="selectAllSessionInfo" resultType="com.mermaid.application.user.model.SessionInfoDomain">
    select id, sessionId, expire, createTime,updateTime,userId FROM sessionInfo
  </select>
  <select id="selectUserBySessionId" resultMap="com.mermaid.application.user.dao.basic.UserInfoDomainMapper.BaseResultMap">
    SELECT u.id, u.name, u.age, u.sex, u.status, u.phone, u.email, u.avatarId, u.qq, u.createTime, u.appId
    FROM sessionInfo s LEFT JOIN userInfo u ON u.id = s.userId
    WHERE s.sessionId = #{sessionid,jdbcType=INTEGER}
  </select>
  <select id="selectByUserId" resultType="com.mermaid.application.user.model.SessionInfoDomain">
    SELECT id, sessionId, expire, createTime,updateTime,userId FROM sessionInfo WHERE userId = #{userId}
  </select>
</mapper>